
# Environnements virtuels
venv/
new_venv/

# Exclure init_git.py
init_git.py
src/task_model.egg-info/

# Fichiers temporaires de Python
*.pyc
__pycache__/

# Caches de tests et outils de vérification
.mypy_cache/
.pytest_cache/

# Configurations locales
.env
.vscode/

# Fichiers journaux
*.log
